#!{{ lookPath "bash" }}

echo "Changing shell to fish."

{{- if eq .chezmoi.os "linux" -}}
FISH_PATH=/home/linuxbrew/.linuxbrew/bin/fish
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
FISH_PATH=/opt/homebrew/bin/fish
{{- end -}}

if ! grep -q $FISH_PATH /etc/shells; then
  echo $FISH_PATH | sudo tee -a /etc/shells
fi

chsh -s $FISH_PATH gabehoban
