{{- $hostname := .chezmoi.hostname -}}
{{/* Work around unreliable hostname on darwin */}}
{{- if eq .chezmoi.os "darwin" -}}
{{-     $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-     $hostname := $computerName -}}
{{- end -}}

format: yaml
sourceDir: "~/.local/dotfiles"

data:
  hostname = {{ $codename | quote }}
