{{- if (and (eq .chezmoi.os "linux") (lookPath "dnf")) -}}

#! /usr/bin/env bash

set -euo pipefail

#: Remove soft limit
ulimit -n "$(ulimit -Hn)"

#: Update installed packages
sudo dnf install https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf -y update

#: Install some official packages

while read -r line; do
    #: Skip empty lines
    [[ -z "$line" ]] && continue

    #: Skip comments
    [[ "${line:0:1}" == "#" ]] && continue

    #: Install packages
    sudo dnf install -y $line
done <{{ joinPath .chezmoi.sourceDir ".pkgs-dnf" (lower .hostname) | quote }}

#: Install other packages with sophisticated steps
are_all_packages_installed() {
    number_of_packages="$#"
    number_of_installed_packages="$(rpm -qa "$@" 2>/dev/null | wc -l)"
    [[ "$number_of_packages" -eq "$number_of_installed_packages" ]]
}

#: 1Password
are_all_packages_installed 1password 1password-cli || {
    sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
    sudo sh -c 'echo -e "[1password]\nname=1Password Stable Channel\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=\"https://downloads.1password.com/linux/keys/1password.asc\"" > /etc/yum.repos.d/1password.repo'
    sudo dnf install 1password 1password-cli
}

{{- end -}}
